# Backup files
*.bak

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Environments
.env
.env*
venv/
env/

# Flask / app runtime
instance/

# SQLite database
db.sqlite3
*.sqlite3

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Sensitive data
contacts.json
venv/
venv/
